*{
    margin: 0;
    padding: 0;
}
.container {
    display: block;
    margin: 0;
    width: 100%;
    height: table;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #309975;
}
::-webkit-scrollbar-thumb {
    background-color: #DAD873;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #c0bf6e;
}
@media screen and (min-width: 500px) {
    /*Pagina 1*/
    .pag1 {
        display: block;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to right, #309975, #58B368);
        z-index: 1000;
    }
    
    .escopo1 {
        width: 1129px;
        height: 44px;
        margin: 15px 114px 15px;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
        float: left;

    }
    .hiperlinks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        width: 400px;
        background-color: transparent;
    }
    .hiperlinks a {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        color: white;
        text-decoration: none;
        font-weight: 200;
        
    }
    .hiperlinks a:hover {
        border-bottom: 2px solid #DAD873;
    }
    
    .buttons button {
        width: 140px;
        height: 44px;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        color: white;
        font-weight: normal;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
    .buttons button:hover {
        color: #DAD873;
    }
    .buttons button:last-child {
        background-color: #DAD873;
        border-radius: 5px;
        color: #309975;
        box-shadow: 2px 1px 1px rgb(87, 86, 86);


    }
    .buttons button:last-child:hover {
        background-color: #c0bf6e;
        color: white;
    }
    .main1 {
        display: inline-block;
        width: 1129px;
        height: table;

        
    }
    .Title {
        display: block;
        width: 401px;
        margin-left: 114px;
        margin-top: 61px;
    }
    .Title h1 {
        font-family: "Poppins", sans-serif;
        font-size: 60px;
        font-weight: bold;
        color: white;

    }
    .Title h1:last-child{
        margin-top: -5%;
        border-bottom: 2px solid white;
    }
    .oport{
        width: 431px;
        margin-left: 114px;
        height: table;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        


    }
    .text1{ 
        display: block;

    }
    .text1 h2 {
        margin-top: 27px;
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        color: white;

    }
    .images1 {
        margin-top: -478px;
        margin-left: 333px;
        z-index: -100;
        
    }

    /*pagina 2*/
    .pag2 {
        display: inline-block;
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 1000;

    }
    .text2 {
        display: block;
    }
    .cards {
        width: 800px;
        height: 500px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card1 {
        display: inline-block;
        height: 500px;
        width: 450px;
        border-radius: 10px;
        box-shadow: 5px 2px 2px #575757;

    }
    .title2 {
        margin-top: 10px;
        margin-left: 50px;
        width: 110px;
        height: table;
        padding: 15px;
        background-color: #DAD873;
        border-radius: 10px;

    }
    .title3 {
        margin-left: 50px;
    }
    .title3 h1:first-child{
        margin-top: 30px;
    }
    .title3 h1:last-child{
        margin-bottom: 30px;
    }
    .parag3 {
        margin-left: 50px;
    }
    .parag3 p {
        border: 8px 0;
    }
    .button-card1 button{
        margin-left: 50px;
        margin-top: 30px;
        background-color: #F8BF88;
        color: #575757;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        padding: 15px 45px;
        cursor: pointer;
        font-weight: 600;
        box-shadow: 2px 1px 1px #575757;
    }

    /*Classes Reutilizaveis*/

    /*Fontes*/
    .font-poppins {
        font-family: "Poppins", sans-serif;
    }

    /*Cor Fontes*/
    .color-white {
        color: white;
    }
    .color-green {
        color: #309975;
    }
    .color-marron {
        color: #DAD873;
    }

    /* tamanho fontes*/
    .large-60 {
        font-size: 50px;
    }
    .medium-40 {
        font-size: 30px;
    }
    .low-15 {
        font-size: 14px;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }
    /*Centralizar texto*/
    .text-align {
        text-align: center;
    }

    /*Bold*/
    .bold {
        font-weight: bold;
    }

    /*Margins*/
    .margin-top-70{
        margin-top: 70px;
    }
    .margin-top-30 {
        margin-top: 30px;
    }
    .margin-top-7 {
        margin-top: 7px;
    }
    .margin-left-128 {
        margin-left: 114px;
    }
    .margin-5 {
        margin: 10px;
    }


    
}